.destination-container {
  display: inline-block;
  text-align: center;
}
@media screen and (min-width: 500px) {
  .destination-container {
    width: 40%;
  }
}
@media screen and (min-width: 700px) {
  .destination-container {
    width: 30%;
  }
}
.destination-imgs {
  width: 100%;
  display: block;
}
